@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    color: #e8eaed;
    background-color: #202124;
    margin: 40px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.uploadmessage {
    background-color: #202124;
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
    text-align: center;

    border-color: #494a4d;
    border-width: 1px;
    border-style: solid;
}

input {
    background-color: #202124;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;

    border-color: #494a4d;
    border-width: 1px;
    border-style: solid;
}

button {
    background-color: #202124;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: 'Roboto Mono', monospace;

    border-color: #494a4d;
    border-width: 1px;
    border-style: solid;
}

a {
    color: #e8eaed;
    text-decoration: none;
}

a:hover {
    background-color: #f1b739;
    color: black;
}

.infobox {
    background-color: #2e2f31;
    text-align: left;
    border-radius: 12px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.infop {
    left: 40px;
    position: absolute;
    bottom: 40px;
}

::selection {
    color: rgb(0, 0, 0);
    background: #f1b739;
}

.infop:hover {
    color: #000000;
}

.infopd {
    bottom: 65px;
}

@media (max-width: 500px) {
    .uploadmessage {
        width: calc(100% - 30px);
    }

    input {
        width: calc(100% - 30px);
        line-height: 45px;
        height: 45px;
    }
}