@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    color: #e8eaed;
    background-color: #202124;
    margin: 5%;
    font-family: 'Roboto Mono', monospace;
}

.uploadmessage {
    background-color: #2e2f31;
    padding: 8px;
    border-radius: 8px;
}

input {
    background-color: #2e2f31;
    padding: 8px;
    margin: 8px;
    margin-left: 0;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
}

button {
    background-color: #3e9b5b;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #e8eaed;
    text-decoration: none;
}

.margindiv {
    margin-bottom: 8px;
}