<!DOCTYPE html>
<html>

<head>
    <title>burgerdrop</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css') }}" />
</head>

<body>
    <div class="infobox">
        <h1 class="title"><a class="title" href="/">burgerdrop</a></h1>
    </div>
    <div class="infobox">
        <h3>self-hosting</h3>
        you can make your own burgerdrop instance.<br>
        burgerdrop is open source under AGPL v3.0.<br>
        <u><a href="https://github.com/maaa101/burgerdrop">github/maaa101/burgerdrop</a></u>
        <h3>terms of service</h3>
        burgerdrop is NOT a website for:<br>
        - piracy<br>
        - anything illegal under US law<br>
        - pornograhpy of any kind<br>
        - doxxing/database dumps <br>
        - malware<br><br>
        any content found to be in violation of these rules will be deleted.
        <br><br>
    </div>
    <br>
    <a class="infop" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> back</a>
</body>