<!DOCTYPE html>
<html>

<head>
    <title>burgerdrop</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <h1><a href="/">burgerdrop</a></h1>
    <p>easily share files up to {{ MAX_FILE_SIZE }}. files are deleted after 30 minutes.</p>

    {% if message %}
    {% if link %}
    <a href="{{ message }}" class="uploadmessage">{{ message }}</a>
    <button id="copyButton" class="copyButton" onclick="Copy()">Copy</button>
    <noscript>
        <style>
            .copyButton {
                display: none;
            }
        </style>
    </noscript>
    {% else %}
    <a class="uploadmessage">{{ message }}</a>
    {% endif %}
    {% else %}
    <form id="fileForm" method="POST" enctype="multipart/form-data">
        <input id="fileInput" onclick="uploadFile()" alt="Upload" name="file" type="file">
        <noscript>
            <button id="submit" name="submit" type="submit">Upload</button>
        </noscript>
    </form>
    <br>
    or upload files with curl
    <p class="uploadmessage">curl -F "file=@yourfile.png" "{{ requesturl }}"</p>
    {% endif %}

    <br>
    <u><a class="infop" href="/info">about burgerdrop</a></u>

    <script>
        let fileForm = document.getElementById("fileForm")
        let fileInput = document.getElementById("fileInput")
        fileInput.onchange = function(e) {
            fileForm.submit()
        }
        function Copy() {
            navigator.clipboard.writeText("{{ message }}")
        };
    </script>
</body>