<!DOCTYPE html>
<html>

<head>
    <title>burgerdrop</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css') }}" />
</head>

<body>
    <div class="infobox">
        <h1 class="title"><a class="title" href="/">burgerdrop</a></h1>
    </div>
    <div class="infobox">
        <p># Easily share files up to {{ MAX_FILE_SIZE }}. Files are deleted after 30 minutes.</p>
    </div>
    <div class="infobox">
        {% if message %}
        {% if link %}
        <p>{{ filename }}</p>
        <a href="{{ message }}" class="uploadmessage">{{ message }}</a>
        <button id="copyButton" class="copyButton" onclick="Copy()">Copy</button>
        <noscript>
            <style>
                .copyButton {
                    display: none;
                }
            </style>
        </noscript>
        {% else %}
        <a class="uploadmessage">{{ message }}</a>
        {% endif %}
        {% else %}
        <br>
        # Upload files here
        <br><br>
        <form id="fileForm" method="POST" onsubmit="console.log();return false" enctype="multipart/form-data">
            <input id="fileInput" onclick="uploadFile()" alt="Upload" name="file" type="file">
            <noscript>
                <button id="submit" name="submit" type="submit">Upload</button>
            </noscript>
        </form>
        <br>
        # Upload files using curl
        <p class="uploadmessage">curl -F "file=@yourfile.png" "{{ requesturl }}"</p>
        {% endif %}
    </div>

    <div class="infobox">
        <p># Info</p>
        <i class="fa fa-upload" aria-hidden="true"></i>
        Upload files up to {{ MAX_FILE_SIZE }}. <br>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Files kept for 30 minutes. <br>
        <i class="fa fa-tag" aria-hidden="true"></i>
        Free forever, no ads or subscriptions. <br>
        <i class="fa fa-terminal" aria-hidden="true"></i>
        Upload files from anywhere, your PC, your phone, without any hassle. <br>
        <i class="fa fa-lock" aria-hidden="true"></i> Privacy respecting. We do not collect any data.
        <br><br>
    </div>

    <a class="infop infopd" href="https://github.com/maaa101/burgerdrop"><i class="fa fa-github" aria-hidden="true"></i>
        github</a>
    <a class="infop" href="/info"><i class="fa fa-file-text" aria-hidden="true"></i> terms of service</a>

    <script>
        let fileForm = document.getElementById("fileForm")
        let fileInput = document.getElementById("fileInput")

        fileInput.onchange = function (e) {
            fileForm.submit()
        }
        function Copy() {
            navigator.clipboard.writeText("{{ message }}")
        };
    </script>
</body>